/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.css";

/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./_roboto.css";

/*
   |--------------------------------------------------------------------------
   | 3rd Party Libraries
   |--------------------------------------------------------------------------
   |
   | Import 3rd party library CSS files.
   |
   */
@import "simplebar/src/simplebar.css";
@import "dropzone/dist/dropzone.css";
@import "tom-select/dist/css/tom-select.css";
@import "toastify-js/src/toastify.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";
@import "vue-datepicker-next/index.css";
@import "vue-select/dist/vue-select.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_global.css";
@import "./components/_intro.css";
/*@import "./components/_typing-dots.css";*/
/*@import "./components/_scrollbar-hidden.css";*/
@import "./components/_box.css";
@import "./components/_tippy.css";
@import "./components/_toastify.css";
@import "./components/_tom-select.css";
@import "./components/_vue-select.css";

.image-fit {
    position: relative;
    & > img {
        position: absolute;
        object-fit: cover;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.tom-select.ts-wrapper, .tom-select.plugin-dropdown_input.focus.dropdown-active {
    background-color: #ffffff;
}

.tom-select .ts-dropdown [data-selectable] .highlight {
    background-color: rgb(var(--color-primary) / 1);
}

.dropzone {
    @apply flex flex-wrap justify-center cursor-pointer;
}

.dropzone.dropzone-manual .dz-progress {
    display: none;
}

.disabled .ts-control, .disabled .ts-control * {
    cursor: not-allowed !important;
}

.plugin-clear_button.form-select .clear-button, .plugin-clear_button.single .clear-button {
    right: 2.25rem !important;
    font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.dropzone {
    border-style: solid!important;
    border-color: rgba(0,0,0,.1) !important;
.dz-message {
    color: rgba(0,0,0,.7);
}
}

.mx-datepicker {
    @apply w-full;
}

.mx-input {
    @apply shadow-sm;
}

.mx-input:disabled, .mx-input.disabled, .tom-select.ts-wrapper.disabled {
    @apply bg-slate-100 border-slate-200;
    color: inherit;
}

.tom-select.ts-wrapper.disabled .ts-control {
    /*color: #1e293b;*/
    opacity: 1;
}

.tom-select .item {
    max-width: calc(100% - 55px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropzone .dz-preview .dz-image {
    @apply flex justify-center items-center border border-slate-200;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.printing {
    background-color: #ffffff;
    padding: 0!important;
    width: 210mm;
    height: 297mm;

    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        print-color-adjust: exact !important; /*Firefox*/
    }

    .avoid-break {
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .hide-print {
        display: none!important;
    }

    .print-overlay {
        border-radius: 0!important;
        margin-top: 0!important;
        padding-top: 0!important;
        padding-bottom: 0!important;
        background-color: #ffffff!important;
    }

    th, td {
        padding: .75rem .5rem !important;
    }

    #element-to-print {
        padding: 0!important;
    }

    .box {
        box-shadow: none!important;
    }
}

@page {
    size: A4;
}
